{{input placeholder='Search' value=keyword}}
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each filteredItems as |item|}}
            {{#item-row item=item as |row|}}
              {{row.delete}}
            {{/item-row}}
        {{/each}}
    </tbody>
</table>